#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 5rem;
}

.skillBars {
    margin: 1.5rem;
    width: 110%;
    max-width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillBar {
    display: flex;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    width: 100vw;
    max-width: 68rem;
    box-sizing: border-box;
    
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-left: 0.7rem;
}

.skillBarText {
    text-align: center;
    flex: 1;
}

.skillBarText > p {
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 200;
}

@media screen and (max-width: 450px) {
    .skillBarText > p {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText {
        font-size: 5vw;
    }
}
